{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<div style="background-color: green; width: 100%; height: 60px;">
    <h3 class="text-white container pt-2">Contact Us</h3>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15549.549347082648!2d74.7943167!3d13.0109883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b1144ac2d5dadf3!2sNational%20Institute%20of%20Technology%20Karnataka%20Surathkal.!5e0!3m2!1sen!2sin!4v1610052399446!5m2!1sen!2sin" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> 
        </div>

        <div class="col-sm-6 mt-5">
            <p><i class="fas fa-envelope"></i> Email Id: asdf@gmail.com</p>
            <p><i class="fas fa-phone"></i> Contact: 987654310</p>
            <p><i class="fas fa-address-card"></i> NITK, India.</p>
        </div>
    </div>
    
</div>

{% endblock %}